@font-face{
    font-family: "Gill Sans";
    src: url("../font/GillSans.ttc");
}

@font-face{
    font-family: "Gill Sans MT";
    src: url("../font/Gill Sans MT.ttf");
}

/* Style for nav bar*/


body{
    background-color: #FCDED4;}

html,body {
    margin:0px;}

.menu-row{
    background-color:#DF7A63;
    width: 100%;
    position: absolute;
    left:0px;
    margin-left: 0px;
    margin-right:0px;}


.nav{
    text-transform: uppercase;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;}

h1{
    margin-left: 100px;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;}

.current{
    text-transform: uppercase;
    color: rgb(245, 191, 173);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
}



/* Style for lists */

.unordered-list{
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 5px; 
    padding: 10px;
    margin-left: 500px; 
    margin-right: 500px;
    margin-top:175px;
    margin-bottom: 40px;}

    
 .ordered-list{
    border-width: 10px;
    border-style: solid;
    border-color: #CA8B7B;
    border-radius: 5px; 
    padding: 10px;
    margin-left: 500px; 
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 40px;}
    
.description-list{
    border-width: 10px;
    border-style: solid;
    border-color: #99837B;
    border-radius: 5px; 
    padding: 5px;
    margin-left: 500px; 
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 40px}

h2{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.unordered-list ul {
    padding-left:300px;
    padding-bottom: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px; }

.ordered-list ol {
    padding-left: 230px;
    padding-bottom: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;}

.description-list dl {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
}

.description-list dl dd {
    padding-bottom: 3px; 
} 


/* Style for footer */

.footer{
    background-color:#DF7A63;
    width: 100%;
    position: absolute;
    left:0px;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 100px;}

    /* style for Sarah Marjanovic link */

#index{
    text-decoration: none;
    color:black;
}