@font-face{
    font-family: "Gill Sans";
    src: url("../font/GillSans.ttc");
}

@font-face{
    font-family: "Gill Sans MT";
    src: url("../font/Gill Sans MT.ttf");
}

body{
    padding:0;
    margin:0;
}

container{
    padding:0px;
    margin:0px;
}

rows{
    padding: 0px;
    margin:0px;
}

/* h2{
    font-size: 50px;
} */

/* Style for nav bar*/




/*.navbar2{
    margin:0px;
    padding:0px;
}

.collapse{
    margin:0px;
    padding:0px;
}

#navbarResponsive{
    margin:0px;
    padding: 0px;
}*/

html,body {
    margin:0px;
    padding: 0px;}

#mainNav{
    background-color:#7EA5C0;
    width:100%;
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
    /* left:0px; */
    /* margin-left: 0px;
    margin-right:0px;
    padding: 0px; */
}

a:-webkit-any-link{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: yellow;
}

/*a:hover
{text-decoration: none !important;
/* color: rgb(57, 57, 116) !important;*/
/*}*/



.nav{ 
    text-transform: uppercase;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    /* font-weight: bold; */
    position: fixed;
    z-index:1; 
    top: 0; 
}

.nav-item { 
    display: inline;
    padding-left: 0px;
    /* padding-right: 60px;
    padding-left: 60px;  */
    padding-top: 45px;
    padding-bottom: 0px; 
} 

.nav-item-a{
   padding: 0px;
   margin: 0px;
    /* vertical-align: center; */
}

.nav-item a{
    color: black;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    padding:0px;
    margin:0px;
} 

/* #nav-menu {
    list-style-type: none;
	position: relative;
    padding: 0px;
    margin: 0px;
} */


#logo{
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}



/* style for landing page */


.main {
    padding-left: 0;
    padding-right: 0;
  }





#homepage{
    background-image: url("../img/backgrounds/houses8.jpg");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 310px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-caption h3{
    font-size: 40px;
}

#welcome{
    font-size: 45px;
}



/* .centered{
    position: absolute;
    display: inline-block;
    top:27%;
    left:30%;
    transform: translate (-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 150px;
    text-transform: uppercase;
}

#welcome-image{
    width:100%;
}
 */







/* style for covenants */


#covenants{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/backgrounds/houses4.2.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 60px;
} 

.phase{
    list-style-type: none;
    margin: 0px;
    padding:0px;
}



/* style for Announcements */

.header-announcements{
    font-size: 40px;
}

#announcements{
    background-image: url("../img/backgrounds/houses1.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

} 

.announcements2{
    background-image: url("../img/backgrounds/houses1.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
} 


.container2{
    width: 100%;
    margin: 0px;
    padding:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.mb-4{
    border: 10px solid #7EA5C0;
    /* border-radius: 10%; */
    margin: 40px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: white;
}

.mb-4-2{
    border: 10px solid #7EA5C0;
    /* border-radius: 10%; */
    /* margin: 40px; */
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: white;
}

.img-circle{
    /* padding: 20px; */
    display: block;
    margin:auto;
    /*width: 250px;*/
}






/* style for board & committees */


#board{
    background-image: url("../img/backgrounds/houses2.1.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 280px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
} 

.board-members{
    background-image: url("../img/backgrounds/houses2.1.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}


/*.about{
    padding-top:200px;
}*/

.board{
    margin: 40px;
}


.board2{
    margin-left: 55px;
    margin-right: 55px;
}



.container3{
    /* background-color: rgb(204, 204, 192); */
    width: 100%;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .text-center{
    margin-bottom: 80px;
} */

#committees{
    padding-bottom: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* #committees-list{
    margin-top:0px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 200px;
} */

.committees-header{
    border-top:0px solid #000000;
    border-left: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#committees-para{
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 50px;
    text-align: center;
}






/* style for Contact Us */

#contact{    
    background-image: url("../img/backgrounds/houses5.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 272px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
} 


.container5{
    /* margin-bottom: 200px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* #contact{
    margin-left: 40px;
} */




.form1-button{ 
    background-color:white;
    /* width: 500px; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    text-decoration: none;
    font-size: 20px; 
    /* color: rgb(101, 143, 170); */
}

.form2-button{
    background-color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 20px;
    text-decoration: none;
    /* color:rgb(101, 143, 170); */
}

#committees{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.committees{
    color: #7EA5C0;
    font-size: 20px;
    font-weight: bold;
}

#committees-heading{
    padding-bottom: 0px;
    font-weight: bold;
}








/* style for Footer */


footer{
    background-color: #7EA5C0;
    /* padding-bottom: 0px;
    margin-bottom: 0px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-list{
    list-style-type: none;
    margin:0px;
    padding:0px;
    /* text-align: center; */
}

#footer-header{
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: uppercase;

}

#about-header{
    font-weight:bold;
    margin-bottom:0px;
    text-transform: uppercase;
}

.footer-text{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.container6{
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.bottom{
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.about-us-footer{
    background-color: #e0c8a2;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border:#7EA5C0 20px solid;
    border-top: none;
    border-bottom: none;
    /* border:white 5px solid; */
    /* border-radius: 10px; */
    /* margin-left: 20px; */
    /* margin-right:160px; */
}

.faqs-footer{
    background-color: rgb(250, 238, 206);
    text-align: center;
    padding-top:40px;
    padding-bottom: 50px;
    /* border: 1px solid transparent; */
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 10px; */
    /* margin-left: 20px; */
    /* margin-right:160px; */
    /* margin-top: 25px; */
}



.contact-us-footer{
    background-color: #e0c8a2;
    text-align: center;
    padding-top: 25px;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding-bottom: 35px;
    border:#7EA5C0 20px solid;
    border-top: none;
    /* border-bottom: none; */
    /* border:white 5px solid; */
    /* border-radius: 10px; */
    /* margin-left: 5px; */
    /* margin-right:20px; */
}






footer{
    margin: 0px;
    padding: 0px;
}




/* style for frequently asked questions (faqs) */



.ui-state-active{
    background-color: #7EA5C0;
    text-align: center; 
}


/* .ui-accordion-header-icons{
    text-align: right;
} */

.ui-accordion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.ui-accordion-header{
    height: 40px;
}



.ui-accordion .ui-accordion-header{
    font-size: 20px;
}



.faqs-style{
    background-image: url("../img/backgrounds/houses7.2.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*.faqs-list{
margin-top:0px;
margin-right: 385px;
margin-left: 385px;
margin-bottom: 92px; 
}*/

/* #faqs{
   list-style-type: none;
   margin: 0;
   padding: 0;
} */



/* .faqs{
border-top:0px solid #000000;
border-left: 0px solid #000000;
border-right: 0px solid #000000;
border-bottom: 3px;
border-style: solid;
border-color: rgb(0, 0, 0);
} */






/*Style for Forms*/

.form{    
    background-image: url("../img/backgrounds/houses5.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 175px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }

.form2{    
    background-image: url("../img/backgrounds/houses5.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    padding-top: 175px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }

form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
    /* padding-top: 50px; */
    padding-bottom: 40px;
}

    /*Style for Newsletter Covenant Enforcement Request Form*/

